<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gopher.system.dao.mysql.GroupCommodityDAO">
	<resultMap id="groupCommodityMap"
		type="com.gopher.system.model.GroupCommodity">
		<result property="id" column="id" javaType="java.lang.Integer"
			jdbcType="INTEGER" />
		<result property="groupId" column="group_id"
			javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result property="updateUser" column="update_user"
			javaType="java.lang.Integer" jdbcType="INTEGER" />
	</resultMap>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.gopher.system.model.GroupCommodity">
		INSERT INTO group_commodity
		(group_id,commodity_id)
		VALUES
		(#{groupId},#{commodityId})
	</insert>

	<select id="getListByGroup"
		parameterType="java.lang.Integer"
		resultMap="groupCommodityMap">
		SELECT * FROM group_commodity
		<where>
			group_id =#{groupId}
		</where>
	</select>

	<delete id="deleteByGroup" parameterType="java.lang.Integer">
		DELETE FROM group_commodity WHERE group_id =#{groupId}
	</delete>

</mapper>