<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gopher.system.dao.mysql.OrderDAO">

	<resultMap id="orderMap" type="com.gopher.system.model.Order">
		<result property="id" column="id" javaType="java.lang.Integer"
			jdbcType="INTEGER" />
		<result property="createTime" column="create_time" javaType="java.util.Date"
			jdbcType="DATE" />
		<result property="updateTime" column="update_time" javaType="java.util.Date"
			jdbcType="DATE" />
		<result property="createUser" column="create_user" javaType="java.lang.Integer"
			jdbcType="INTEGER" />
		<result property="updateUser" column="update_user" javaType="java.lang.Integer"
			jdbcType="INTEGER" />
		<result property="number" column="number" javaType="java.lang.String"
			jdbcType="VARCHAR" />
	</resultMap>


	<update id="update" parameterType="com.gopher.system.model.Order">
		UPDATE `order`
		<set>
		    state = #{state},
			update_time = now(),
			update_user = #{updateUser}
		</set>
		<where>
		    state = 0
			<if test="number != null and number != '' ">
				number = #{number}
			</if>
			<if test="id > 0 ">
				id = #{id}
			</if>
			<if test="customerId > 0">
			   customerId = #{customerId}
			</if>
		</where>
	</update>


	<insert id="insert" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.gopher.system.model.Order">
		INSERT INTO `order`
		(number,state,customer_id,create_user,update_user,create_time,update_time)
		VALUES
		(#{number},#{state},#{customerId},#{createUser},#{updateUser},now(),now())
	</insert>

	<select id="findOne" parameterType="com.gopher.system.model.Order"
		resultMap="orderMap">
		SELECT * FROM `order`
		<where>
			<if test="number != null and number != '' ">
				number = #{number}
			</if>
			<if test="id > 0 ">
				id = #{id}
			</if>
		</where>
	</select>

	<select id="findList" parameterType="com.gopher.system.model.Order"
		resultMap="orderMap">
		SELECT * FROM `order`
		<where>
		     state = 0
			<if test="createUser >0 ">
				AND create_user = #{createUser}
			</if>
			<if test="customerId >0 ">
				AND customer_id = #{customerId}
			</if>
		</where>
	</select>

</mapper>